DEV_PORT = ##########
RDS_PORT = ##########
SECRETS_MANAGER_SECRET_ID = ##########
SECRETS_MANAGER_ACCESS_KEY_ID = ##########
SECRETS_MANAGER_SECRET_ACCESS_KEY = ##########
DATABASE = ##########
RDS_HOST_ENDPOINT = ##########
AWS_REGION = ##########
CA_CERT_PATH = ##########
API_PREFIX = ##########
NODE_ENV  = ##########